h2{
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card{
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    margin: 30px 100px;
    text-align: center;
}